.img-product{
    width: 150px;
    height: 100px;
    border-radius: 100%;
}.img-qrcode{
    width: 1550px ;
    height: 150px;
}.btn-popover{
    margin-left: 50px;
    text-align: end;
}
ion-avatar {
  width: 100px;
  height: 100px;
}
