// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-green: #0AD1C8;
	--ion-color-green-rgb: 10,209,200;
	--ion-color-green-contrast: #000000;
	--ion-color-green-contrast-rgb: 0,0,0;
	--ion-color-green-shade: #09b8b0;
	--ion-color-green-tint: #23d6ce;
}

.ion-color-green {
	--ion-color-base: var(--ion-color-green);
	--ion-color-base-rgb: var(--ion-color-green-rgb);
	--ion-color-contrast: var(--ion-color-green-contrast);
	--ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
	--ion-color-shade: var(--ion-color-green-shade);
	--ion-color-tint: var(--ion-color-green-tint);
}
:root {
	--ion-color-green: #F4E7FB;
	--ion-color-green-rgb: 244,231,251;
	--ion-color-green-contrast: #000000;
	--ion-color-green-contrast-rgb: 0,0,0;
	--ion-color-green-shade: #d7cbdd;
	--ion-color-green-tint: #f5e9fb;
}

.ion-color-green {
	--ion-color-base: var(--ion-color-green);
	--ion-color-base-rgb: var(--ion-color-green-rgb);
	--ion-color-contrast: var(--ion-color-green-contrast);
	--ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
	--ion-color-shade: var(--ion-color-green-shade);
	--ion-color-tint: var(--ion-color-green-tint);
}
:root {
	--ion-color-nole: #F3DCDC;
	--ion-color-nole-rgb: 243,220,220;
	--ion-color-nole-contrast: #000000;
	--ion-color-nole-contrast-rgb: 0,0,0;
	--ion-color-nole-shade: #d6c2c2;
	--ion-color-nole-tint: #f4e0e0;
}

.ion-color-nole {
	--ion-color-base: var(--ion-color-nole);
	--ion-color-base-rgb: var(--ion-color-nole-rgb);
	--ion-color-contrast: var(--ion-color-nole-contrast);
	--ion-color-contrast-rgb: var(--ion-color-nole-contrast-rgb);
	--ion-color-shade: var(--ion-color-nole-shade);
	--ion-color-tint: var(--ion-color-nole-tint);
}
:root {
	--ion-color-nol: #718355;
	--ion-color-nol-rgb: 113,131,85;
	--ion-color-nol-contrast: #000000;
	--ion-color-nol-contrast-rgb: 0,0,0;
	--ion-color-nol-shade: #63734b;
	--ion-color-nol-tint: #7f8f66;
}

.ion-color-nol {
	--ion-color-base: var(--ion-color-nol);
	--ion-color-base-rgb: var(--ion-color-nol-rgb);
	--ion-color-contrast: var(--ion-color-nol-contrast);
	--ion-color-contrast-rgb: var(--ion-color-nol-contrast-rgb);
	--ion-color-shade: var(--ion-color-nol-shade);
	--ion-color-tint: var(--ion-color-nol-tint);
}
:root {
	--ion-color-orange: #FF9D67;
	--ion-color-orange-rgb: 255,157,103;
	--ion-color-orange-contrast: #000000;
	--ion-color-orange-contrast-rgb: 0,0,0;
	--ion-color-orange-shade: #e08a5b;
	--ion-color-orange-tint: #ffa776;
}

.ion-color-orange {
	--ion-color-base: var(--ion-color-orange);
	--ion-color-base-rgb: var(--ion-color-orange-rgb);
	--ion-color-contrast: var(--ion-color-orange-contrast);
	--ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
	--ion-color-shade: var(--ion-color-orange-shade);
	--ion-color-tint: var(--ion-color-orange-tint);
}:root {
	--ion-color-oranges: #f05400;
	--ion-color-oranges-rgb: 240,84,0;
	--ion-color-oranges-contrast: #000000;
	--ion-color-oranges-contrast-rgb: 0,0,0;
	--ion-color-oranges-shade: #d34a00;
	--ion-color-oranges-tint: #f2651a;
}

.ion-color-oranges {
	--ion-color-base: var(--ion-color-oranges);
	--ion-color-base-rgb: var(--ion-color-oranges-rgb);
	--ion-color-contrast: var(--ion-color-oranges-contrast);
	--ion-color-contrast-rgb: var(--ion-color-oranges-contrast-rgb);
	--ion-color-shade: var(--ion-color-oranges-shade);
	--ion-color-tint: var(--ion-color-oranges-tint);
}:root {
	--ion-color-orangesa: #FABC3F;
	--ion-color-orangesa-rgb: 250,188,63;
	--ion-color-orangesa-contrast: #000000;
	--ion-color-orangesa-contrast-rgb: 0,0,0;
	--ion-color-orangesa-shade: #dca537;
	--ion-color-orangesa-tint: #fbc352;
}

.ion-color-orangesa {
	--ion-color-base: var(--ion-color-orangesa);
	--ion-color-base-rgb: var(--ion-color-orangesa-rgb);
	--ion-color-contrast: var(--ion-color-orangesa-contrast);
	--ion-color-contrast-rgb: var(--ion-color-orangesa-contrast-rgb);
	--ion-color-shade: var(--ion-color-orangesa-shade);
	--ion-color-tint: var(--ion-color-orangesa-tint);
}:root {
	--ion-color-orangesae: #E85C0D;
	--ion-color-orangesae-rgb: 232,92,13;
	--ion-color-orangesae-contrast: #000000;
	--ion-color-orangesae-contrast-rgb: 0,0,0;
	--ion-color-orangesae-shade: #cc510b;
	--ion-color-orangesae-tint: #ea6c25;
}

.ion-color-orangesae {
	--ion-color-base: var(--ion-color-orangesae);
	--ion-color-base-rgb: var(--ion-color-orangesae-rgb);
	--ion-color-contrast: var(--ion-color-orangesae-contrast);
	--ion-color-contrast-rgb: var(--ion-color-orangesae-contrast-rgb);
	--ion-color-shade: var(--ion-color-orangesae-shade);
	--ion-color-tint: var(--ion-color-orangesae-tint);
}:root {
	--ion-color-orangesae1: # #C7253E;
	--ion-color-orangesae1-rgb: 199,37,62;
	--ion-color-orangesae1-contrast: #ffffff;
	--ion-color-orangesae1-contrast-rgb: 255,255,255;
	--ion-color-orangesae1-shade: #af2137;
	--ion-color-orangesae1-tint: #cd3b51;
}

.ion-color-orangesae1 {
	--ion-color-base: var(--ion-color-orangesae1);
	--ion-color-base-rgb: var(--ion-color-orangesae1-rgb);
	--ion-color-contrast: var(--ion-color-orangesae1-contrast);
	--ion-color-contrast-rgb: var(--ion-color-orangesae1-contrast-rgb);
	--ion-color-shade: var(--ion-color-orangesae1-shade);
	--ion-color-tint: var(--ion-color-orangesae1-tint);
}:root {
	--ion-color-orangesae2: #821131;
	--ion-color-orangesae2-rgb: 130,17,49;
	--ion-color-orangesae2-contrast: #ffffff;
	--ion-color-orangesae2-contrast-rgb: 255,255,255;
	--ion-color-orangesae2-shade: #720f2b;
	--ion-color-orangesae2-tint: #8f2946;
}

.ion-color-orangesae2 {
	--ion-color-base: var(--ion-color-orangesae2);
	--ion-color-base-rgb: var(--ion-color-orangesae2-rgb);
	--ion-color-contrast: var(--ion-color-orangesae2-contrast);
	--ion-color-contrast-rgb: var(--ion-color-orangesae2-contrast-rgb);
	--ion-color-shade: var(--ion-color-orangesae2-shade);
	--ion-color-tint: var(--ion-color-orangesae2-tint);
}