<ion-app>
  <ion-tabs color="oranges">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="details()">
        <ion-icon name="home-outline"></ion-icon>
    
      </ion-tab-button>
      <ion-tab-button tab="radio" (click)="product()">
        <ion-icon name="clipboard-outline"></ion-icon>
       
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="basket-outline" (click)="set()"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="search" (click)="his()">
        <ion-icon name="receipt-outline"></ion-icon>
       
      </ion-tab-button>

      <ion-tab-button tab="search" (click)="pro()">
      <ion-icon name="person-circle-outline"></ion-icon>
       
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
