<ion-header [translucent]="true">
  <ion-toolbar color="oranges">
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="orange" class="ion-padding">
  <ion-card class="img-profile">
    <ion-img src="assets/img/Profile.jfif"></ion-img>
  </ion-card>
  <div style="margin-top: 35px;">
    <form>
      <ion-item>
        <ion-input label="ชื่อนามสกุล"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="อีเมล"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="โทรศัพท์"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="ที่อยู่"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" color="orangesa">แก้ไขข้อมูล</ion-button>
    </form>
  </div>
</ion-content>
