.img-profile{
    border-radius: 100%;
    width: 150px !important;
    height: 150px !important;
    margin-left: 120px;
}.input-color{
    color: white;
    text-indent: 10px;
}.btn-save{
    border-radius: 10px;
}
ion-item{
  margin-top: 5px;
}
