<ion-header [translucent]="true">
  <ion-toolbar color="oranges">
    <ion-title color="light">สั่งซื้อสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="orange">
  <ion-grid *ngIf="item">
    <ion-row class="text-center">
      <ion-avatar>
        <img [src]="item.imageURL">
      </ion-avatar>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-row>
  </ion-grid>
  <ion-row class="left mt-3">
    <ion-item lines="none" color="orange">
      <h1>
        {{item.name}}
      </h1>
    </ion-item>
  </ion-row>
  <ion-row class="left">
    <ion-item lines="none" color="orange">
      ราคา : {{item.price}}
    </ion-item>
  </ion-row>
  <ion-row class="left">
    <ion-input label="จำนวนที่สั่งซื้อ" label-placement="floating" fill="outline" placeholder="กรุณากรอกจำนวน">
    </ion-input>
  </ion-row>
  <ion-row class="mt-2 text-center1">
    <ion-button>สั่งซื้อ</ion-button>
  </ion-row>
</ion-content>
