ion-avatar {
  width: 150px;
  height: 150px;
  text-align: center;
}
.text-center{
  margin-top: 50px;
  margin-left:120px ;
}
.text-center1{
  margin-left:170px ;
}
.left{
  margin-left: 50px;
}
.mt-3{
  margin-top: 30px;
}
.mt-2{
  margin-top: 10px;
}
ion-input{
  width: 300px;
  background-color: rgb(245, 197, 136);
}
ion-item.no-border {
  --border-width: 0;
}
